<ul class="demo-items">
  <button onclick={{action filterPosts model}}>Filter Posts</button>
  {{#each model as |item|}}
    <li>{{item.id}}. {{item.name}}</li>
  {{/each}}

  {{infinity-loader
    infinityModel=model
    loadingText="Loading more awesome records..."
    loadedText="Loaded all the records!"
    triggerOffset=500
  }}
</ul>
