<div class="demo-view">
  <div class="fixed-to-top jumbo-header text-center">
    <a class="github-fork-ribbon" data-ribbon="Fork me on GitHub" href="https://github.com/adopted-ember-addons/ember-infinity" target="_blank" rel="noopener noreferrer">Fork me on GitHub</a>
    <h2 id="title">ember-infinity</h2>
  </div>
  <ul id="demo-items-scrollable" class="demo-items">
    {{#each this.model as |item|}}
      <li>{{item.id}}. {{item.name}}</li>
    {{/each}}
    <InfinityLoader
      @infinityModel={{this.model}}
      @loadingText="Loading more awesome records..."
      @loadedText="Loaded all the records!"
      @triggerOffset={{500}}
      @scrollable=".demo-items"
    />
  </ul>
</div>