#ember-testing {
  height: 100% !important;
  width: 100% !important;
  transform: scale(1) !important;
}
body {
  font-family: 'Arial';
  padding: 0;
  margin: 0;
  width: 100%;
}
.demo-view {
  margin-top: 160px;
}

.test-list li {
  height: 500px;
}

.text-center {
  text-align: center;
}

.fixed-to-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}


.jumbo-header {
  color: #fff;
  background: purple;
  font-size: 36px;
  width: 100%;
  height: 150px;
  box-shadow: 0 15px 15px rgba(0,0,0,0.5);
}

@media (max-width: 600px) {
  .jumbo-header {
    height: 200px;
  }
}

.demo-items {
  list-style: none;
}
.demo-items li {
  border: 1px solid #999;
  margin: 10px;
  background: #fff;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
  padding: 10px;
  width: 90%;
}

.test-list-scrollable {
  overflow: scroll;
  height: 500px;
  position: relative;
}

#demo-items-scrollable {
  height: 500px;
  overflow: scroll;
  position: relative;
}
