<h2 id="posts-title">Listing Posts</h2>

<div class="posts">
  {{infinity-loader
    classNames="infinity-loader-above"
    infinityModel=model
    loadPrevious=true
    loadingText=null
    loadedText=null
  }}

  {{#each model as |post|}}
    <p>{{post.name}}</p>
  {{/each}}

  {{infinity-loader
    classNames="infinity-loader-bottom"
    infinityModel=model
    triggerOffset=triggerOffset
    loadingText="loading"
    loadedText="loaded"
  }}
</div>
