<h2 id="posts-title">Non Blocking Model Test</h2>

<ul id="test-list" class="test-list test-list-scrollable">
  {{#each this.model.posts as |post|}}
    <li>{{post.name}}</li>
  {{/each}}

  <InfinityLoader
    @infinityModel={{this.model.posts}}
    @loadingText="loading"
    @loadedText="loaded"
    @scrollable="#test-list"
  />
</ul>