<h2 id="posts-title">Listing Posts</h2>

<ul id="test-list" class="test-list-scrollable">
  {{infinity-loader
    classNames="infinity-loader-above"
    infinityModel=model
    loadPrevious=true
    loadingText=null
    loadedText=null
    scrollable="#test-list"
  }}

  {{#each model as |post|}}
    <li>{{post.name}}</li>
  {{/each}}

  {{infinity-loader
    classNames="infinity-loader-bottom"
    infinityModel=model
    triggerOffset=triggerOffset
    loadingText="loading"
    loadedText="loaded"
    scrollable="#test-list"
  }}
</ul>
